header {
    -webkit-box-shadow: 20px 11px 37px 6px rgba(0, 0, 0, 1);
-moz-box-shadow: 20px 11px 37px 6px rgba(0, 0, 0, 1);
box-shadow: 20px 11px 37px 6px rgba(0, 0, 0, 1);
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    width: 1000px;
    margin: auto;
}

.nav_list {
    display: flex;
}

.container_header {
    display: flex;
    max-width: 1100px;
    margin: auto;
    align-items: center;
}

.nav_item {
    list-style: none;
    margin-left: 30px;
}

.nav_link {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

nav {
    margin: auto;
}

.home {
        -webkit-box-shadow: 20px 11px 37px 6px rgba(0, 0, 0, 1);
-moz-box-shadow: 20px 11px 37px 6px rgba(0, 0, 0, 1);
box-shadow: 20px 11px 37px 6px rgba(0, 0, 0, 1);
    background: rgb(24, 35, 48);
    max-width: 1000px;
    margin: auto;
    border-radius: 30px;
    margin-top: 30px;
    padding: 50px 0;
}

.container_home {
    display: flex;
}

.home_title {
    text-shadow: 5px 6px 5px rgba(85, 85, 99, 1);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 46px;
    font-weight: 400;
}

.home_button {
    width: 219.5px;
    height: 50px;
    transform: rotate(16.31deg);
    border-radius: 6px;
    background-color: rgb(255, 234, 0);
    transition: 0.3s;
    &:hover{
        width: 230.5px;
         height: 55px;
         background-color: chartreuse;
         transform: rotate(0deg);
    }
}

.ForBut {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.home_text {
    text-shadow: 5px 6px 5px rgba(85, 85, 99, 1);
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: black;
    color: rgba(228, 228, 228, 1);
    font-family: Inter;
    font-size: 36px;
    font-weight: 400;
}

body {
    background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 4s ease infinite;
    transform: translate3d(0, 0, 0);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.about {
    -webkit-box-shadow: 20px 11px 37px 6px rgba(0, 0, 0, 1);
-moz-box-shadow: 20px 11px 37px 6px rgba(0, 0, 0, 1);
box-shadow: 20px 11px 37px 6px rgba(0, 0, 0, 1);
    background: rgb(61, 15, 15);
    max-width: 1400px;
    margin: auto;
    border-radius: 30px;
    margin-top: 30px;
    padding: 50px 0;
}

.about_title {
    text-shadow: 5px 6px 5px rgba(85, 85, 99, 1);
    color: rgba(228, 228, 228, 1);
    font-family: Inter;
    font-size: 46px;
    font-weight: 400;
    text-align: center;
}

.text_about {
    text-shadow: 5px 6px 5px rgba(85, 85, 99, 1);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    color: rgba(228, 228, 228, 1);
    font-size: 36px;
    font-weight: 400;
    width: 330px;
    text-align: justify;
}

.container_about {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.img_about {
    padding: 15px;
}

.video {
    -webkit-box-shadow: 20px 11px 37px 6px rgba(0, 0, 0, 1);
-moz-box-shadow: 20px 11px 37px 6px rgba(0, 0, 0, 1);
box-shadow: 20px 11px 37px 6px rgba(0, 0, 0, 1);
    background: rgb(34, 56, 35);
    max-width: 1000px;
    margin: auto;
    border-radius: 30px;
    margin-top: 30px;
    padding: 50px 0;
    text-align: center;
}

.video_title {
    text-shadow: 5px 6px 5px rgba(85, 85, 99, 1);
    margin: auto;
    color: rgba(228, 228, 228, 1);
    font-size: 36px;
    font-weight: 400;
    width: 330px;
    padding: 20px;
}

.video_rutub {
    border-radius: 20px;
    width: 763.19px;
    height: 433px;
    margin-top: 40px;
}

.border_video {
    -webkit-box-shadow: 20px 11px 37px 6px rgba(0, 0, 0, 1);
-moz-box-shadow: 20px 11px 37px 6px rgba(0, 0, 0, 1);
box-shadow: 20px 11px 37px 6px rgba(0, 0, 0, 1);
    width: 877px;
    height: 537.84px;
    border-radius: 29px;
    background: linear-gradient(180.00deg, rgba(0, 100, 167, 1) 27%, rgba(124, 166, 255, 1) 100%);
    margin: auto;
}

.gallery {
    -webkit-box-shadow: 20px 11px 37px 6px rgba(0, 0, 0, 1);
-moz-box-shadow: 20px 11px 37px 6px rgba(0, 0, 0, 1);
box-shadow: 20px 11px 37px 6px rgba(0, 0, 0, 1);
    background: rgb(76, 35, 73);
    max-width: 1400px;
    margin: auto;
    border-radius: 30px;
    margin-top: 30px;
    padding: 50px 0;
    text-align: center;
}

.gallery_list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.gallery_title {
    text-shadow: 5px 6px 5px rgba(85, 85, 99, 1);
    margin: auto;
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: 400;
    width: 330px;
    padding: 20px;
}

footer {
    -webkit-box-shadow: 20px 11px 37px 6px rgba(0, 0, 0, 1);
-moz-box-shadow: 20px 11px 37px 6px rgba(0, 0, 0, 1);
box-shadow: 20px 11px 37px 6px rgba(0, 0, 0, 1);
    background-color: rgb(57, 54, 19);
    padding: 10px 0px;
    max-width: 1000px;
    margin: auto;
    margin-top: 30px;
    border-radius: 30px;
}


.footer_text {
    text-shadow: 5px 6px 5px rgba(85, 85, 99, 1);
    color: rgb(255, 255, 255);
    font-family: Comfortaa;
    font-size: 30px;
    font-weight: 400;
}

.footer_title {
    text-shadow: 5px 6px 5px rgba(85, 85, 99, 1);
    color: rgb(255, 255, 255);
    font-family: Comfortaa;
    font-size: 30px;
    font-weight: 400;
}

.footer_list {
    display: flex;
    align-items: center;
    width: 120px;
    list-style: none;
    justify-content: space-between;
}

.container_footer {
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: auto;
    justify-content: space-between;
}