.nav_list {
    display: flex;
}

.nav_item {
    margin-left: 30px;
}

header {
    max-width: 900px;
    margin: auto;
}

nav {
    max-width: 450px;
    margin: auto;
}

section {
    margin: auto;
    border-radius: 50px;
    max-width: 900px;
    text-align: center;
}

.main_img {
    width: 500px;
    border-radius: 50px;
    transition: 1s;
}

.main_img:hover {
    width: 600px;
}

.gray {
    background-color: gray;
    width: 80%;
    height: 40px;
    border-radius: 50px;
}

.green {
    background-color: gray;
    width: 0%;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    padding-left: 20px;
}

.green2 {
    background-color: rgb(0, 166, 0);
    width: 100%;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    color: rgb(155, 242, 74);
    padding-left: 20px;
}

.r_item {
    list-style: none;
}

.main_list {
    list-style: none;
}

body {
    background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 4s ease infinite;
    transform: translate3d(0, 0, 0);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.gallery_item {
    width: 400px;
    list-style: none;
    margin-bottom: 50px;
}

.gallery_img {
    width: 100%;
    height: 100%;
}

.gallery_list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
}
.rating_item{
    background-color: rgb(191, 191, 191);
    padding: 20px;
    list-style: none;
    font-size: 23px;
}
.rating_score{
    background-color: chartreuse;
    padding: 20px;
    margin-right: 30px;
    font-size: 30px;
}
.ratings_header{
    display: flex;
}
.rating_comment{
    margin-right: 300px;
}